---
import { createContainer } from 'brandi'
import { bootstrap } from '../../bootstrap'
import TimeLineElement from '../../components/cv/TimeLine.astro'
import { languages } from '../../i18n/ui'
import { useTranslations } from '../../i18n/utils'
import BaseLayout from '../../layouts/BaseLayout.astro'

const container = createContainer()
const di = bootstrap(Astro)
container.use(...di.allTokens).from(di)

const lang = container.get(di.tokens.lang)

const t = useTranslations(lang)
const projectService = container.get(di.tokens.projectService)

export async function getStaticPaths() {
  const routes = Object.entries(languages).map(([lang, _]) => ({
    params: { lang },
  }))

  return [...routes]
}

const projectTimelines = await projectService.getProjectTimelines()
---

<BaseLayout title="Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{t('cv.profile')}</div>
  </div>

  <div class="mb-10 text-justify">
    <p>
      {t('cv.profileDesc')}
    </p>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{t('cv.education')}</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title={t('cv.prepa')}
      subtitle="2017-2019: Lycée Condorcet, Paris VIIIe, France"
    />
    <TimeLineElement
      title={t('cv.imt')}
      subtitle={'2019-2021: ' + t('cv.imtDesc')}
    />
    <TimeLineElement
      title={t('cv.fib')}
      subtitle={'2021-2022 (exchange semester): ' + t('cv.fibDesc')}
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{t('cv.experience')}</div>
  </div>

  <div class="time-line-container mb-10">
    {
      projectTimelines &&
        projectTimelines.map((projectTimeline) => (
          <TimeLineElement {...projectTimeline} />
        ))
    }
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{t('cv.certificates')}</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>TOEIC 925/990 (2019)</li>
    <li>Explore ML certificate (intermediate level), Google AI (2020)</li>
  </ul>

  {
    t('cv.skillsList') && (
      <div class="mb-5">
        <div class="text-3xl w-full font-bold">{t('cv.skills')}</div>

        <ul class="list-disc md:columns-5 columns-2 mx-6">
          {t('cv.skillsList')
            .split(',')
            .map((skill) => (
              <li>{skill}</li>
            ))}
        </ul>
      </div>
    )
  }
</BaseLayout>
